<thy-layout>
  <thy-header thyTitle="Angular DI" thyHasBorder="true">
    <ng-template #headerContent>
      <thy-nav thyType="primary" thyHorizontal="center">
        <a thyNavLink routerLinkActive="active" routerLink="heroes">Heroes</a>
        <a thyNavLink routerLinkActive="active" routerLink="user">User</a>
        <a thyNavLink routerLinkActive="active" routerLink="multistage">Multistage</a>
      </thy-nav>
    </ng-template>
  </thy-header>
  <thy-content>
    <router-outlet></router-outlet>
  </thy-content>
</thy-layout>
